.answer-card {
    flex-direction: column;
}

.answer-card>* {
    margin: 1rem 0;
}

.answer-question {
    width: 100%;
}

.answer-question p {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

.answer-input {
    font-weight: normal;
    font-size: 1.5rem;
    color: #404040;
    width: 100%;
}