#nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#nav-left p {
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 0;
}

#nav-right {
    display: flex;
}

#nav-right button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin: 0 1rem;
}

#nav-right p {
    transition: all 150ms ease-out;
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
    padding: 0.5rem 1.25rem;
    padding-top: 0.6rem;
    margin: 0;
}

#nav-right button:not(.selected) p {
    color: orangered;
    opacity: 70%;
}

#nav-right button:hover{
    transform: scale(1.075);
}

#nav-right button { 
    transition: all 150ms ease-out;
    border: 0.15rem transparent solid;
    border-radius: 2rem;
}

#nav-right button.selected { 
    border: 0.15rem black solid;
}